<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>页面跳转</title>
  <link rel="stylesheet" href="css/acstudent.css">
</head>

<body>

<h1>欢迎访问高校学生录取信息管理系统</h1>

<p>请选择功能页面：</p>
<section>
  <div class="feature-card">
    <h2>录取信息管理</h2>
    <p>管理学生录取信息，包括录取批次、学生信息和大学信息。</p>
    <a href="admissions">进入录取信息管理</a>
  </div>

  <div class="feature-card">
    <h2>大学信息管理</h2>
    <p>查看和编辑大学信息，包括学校名称、位置等相关信息。</p>
    <a href="colleges">进入大学信息管理</a>
  </div>

  <div class="feature-card">
    <h2>学生信息管理</h2>
    <p>管理学生基本信息，包括学生姓名、学号等相关信息。</p>
    <a href="students">进入学生信息管理</a>
  </div>
</section>

</body>

</html>
